@model serniaMVC.Models.japaneseHistory

@{
    ViewBag.Title = "japaneseHistoryCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="subHeader">ADMIN Japanese History Create</div>
<br />
<div>
    @Html.ActionLink("back", "index", null, new { @class = "backbtn", @style = "float: left; margin-left: 20px; padding: 5px;" })
</div>
<div style="clear: both;"></div>
<br />
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.text)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.text)
            @Html.ValidationMessageFor(model => model.text)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
}<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
